<md-content>
  <md-subheader class="md-no-sticky">
      Contact list
  </md-subheader>
  <md-divider></md-divider>
  <md-list>
    <md-list-item ng-repeat="contact in contacts" class='noright'>
      <p>{{ contact.name }}</p>
      <md-button class="md-fab" ng-click="removeFromList(contact)" aria-label="Delete">
        <md-icon md-font-library="material-icons" aria-label="Delete" class="md-secondary">delete</md-icon>
      </md-button>
      <md-button class="md-fab" ng-click="sendMessage(contact)" aria-label="Message">
        <md-icon md-font-library="material-icons" aria-label="Message" class="md-secondary">message</md-icon>
      </md-button>
    </md-list-item>
  </md-list>
  <md-divider></md-divider>
  <md-content>
  <br><br>
  <md-subheader class="md-no-sticky">
      Add to list
    </md-subheader>
    <form>
      <md-input-container class="md-block">
        <label>Name</label>
        <input name="name" autocomplete="off" ng-model="contact.searchName">
      </md-input-container>
    </form>
    
    <md-list>
        <md-list-item ng-repeat="contact in contact.list">
          <p>{{ contact.name }}</p>
          <md-button class="md-secondary" ng-click="addUserToList(contact)">Add</md-button>
        </md-list-item>
      </md-list>
  </md-content>
</md-content>


