<div ng-controller='loginCtrl'>
  <md-content>
    <md-subheader class="md-no-sticky">
      Login / Register
    </md-subheader>
    <div id="login" class="col s12" ng-show='!auth.status.isLoggedIn'>
      <form class='col s12'>
        <md-content layout-gt-sm="row" layout-padding>
          <div>
            <md-input-container class="md-block">
              <label>Name</label>
              <input ng-model="user.name">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input ng-model="user.password" type="password">
            </md-input-container>
          </div>
        </md-content>
        <md-button class="md-raised" ng-click='user.login()'>Login</md-button>
        <md-button class="md-raised" ng-click='user.register()'>Register</md-button>
      </form>
    </div>
    <div ng-show='auth.status.isLoggedIn' class="col s12">
      <p class="flow-text center-align">Welcome! {{user.name}}</p>
    </div>
  </md-content>
</div>