<div class="row">
	<form ng-controller='loginCtrl' class='col s12'>
    <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" ng-model='user.name' class="validate">
          <label for="name">Name</label>
        </div>
      </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" ng-model='user.password' class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <a class="waves-effect waves-light btn" ng-click='user.login()' ><i class="material-icons left">input</i>Login</a>
  </form>
</div>
