<div class="message" ng-repeat='message in messages'>
  <div class="row message-header">
    <div class="message-sender col-md-6 pull-left">
      {{message.sender}}
    </div>
    <div class="message-date col-md-6 text-right">
      {{message.sentOn | date:'MM/dd/yyyy @ hh:mma'}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 message-content">
      {{message.message}}
    </div>
  </div>
  <div class="row message-footer">
    <div class="message-buttons col-md-6 text-right">
      <a class="btn btn-default" ng-click='reply(message)'>Reply</a>
      <a class="btn btn-default" ng-click='delete(message)'>Delete</a>
    </div>
  </div>
</div>