<div class="row" ng-repeat='message in messages'>
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{message.sender.name}}</span>
        <p>{{message.message}}</p>
      </div>
      <div class="card-action">
        <a href="#">Reply</a>
        <a href="#">Delete</a>
        <div class='right-align white-text'>
          {{message.sentOn | date:'MM/dd/yyyy @ hh:mma'}}
        </div>
      </div>
    </div>
  </div>
</div>