<md-content class='msg-page' ng-controller='sendMessageCtrl'>
    <md-list-item class="md-3-line" ng-repeat='message in data.messages | limitTo:-5'>
      <div class="md-accent md-list-item-text" ng-class='{"msg-received": message.sender._id === data.receiver._id, "msg-sent": message.receiver._id === data.receiver._id}'>
        <h3></h3>
        <p>
          {{message.message}}
        </p>
      </div>
    </md-list-item>
  <md-content class='bleh reply-input'>
    <div layout="row" layout-align="start center">
      <md-input-container class="md-block reply-message">
        <label>Message</label>
        <textarea ng-model="data.reply" rows="3"></textarea>
      </md-input-container>
      <md-button class='md-raised' ng-click='data.send()'>Send</md-button>
    </div>
  </md-content>
</md-content>