.msg-sent {
  text-align: right;
  position: absolute;
  right: 0px;
  width: 80%;
  background-color: rgb(255,215,64);
  color: black;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 20px;
  box-shadow: 2px 2px 1px #c0c0c0;
}

.msg-page {
  padding-top: 65px;
  padding-bottom: 100px;
}

.msg-received {
  text-align: left;
  position: absolute;
  left: 0px;
  width: 80%;
  background-color: rgb(255,215,64);
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 1px #c0c0c0;
}

.bleh {
  position: fixed;
}

body {
  top: 55px;
}

.reply-input {
  bottom: 0px;
  width: 95%;
}

.reply-message {
  width: 100%;
}