.message {
  border-radius: 25px;
  border: 1px solid #2c8d3a;
  padding: 20px; 
}

.message-sender {
  
}

.message-header {
  border-bottom: 1px solid #2c8d3a;
  padding-bottom: 15px;
}

.message-footer {
  border-top: 1px solid #2c8d3a;
  padding-top: 15px;
}

.message-content {
  padding-top: 20px;
  padding-bottom: 20px;
}