<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Message</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- bower:css -->
		<!-- endbower -->
		<!-- inject:cssVendors -->
		<!-- endinject -->
		<!-- inject:css -->
		<!-- endinject -->
	</head>
	<body ng-app="myApp" ng-controller='mainCtrl'>
    <md-toolbar class='md-accent bleh' ng-if="true">
      <div class="md-toolbar-tools">
        <md-button ng-show='page.sendmessage' ng-click='page.sendmessage = false;' aria-label="Go Back">
          Go Back
        </md-button>
        <h2>
          <span>Bored - Messages</span>
        </h2>
      </div>
    </md-toolbar>
    <div ng-cloak ng-show='!page.sendmessage'>
      <md-content>
        <md-tabs class="md-accent" md-dynamic-height md-border-bottom>
        <md-tab ng-disabled='auth.status.isLoggedIn' label="Login">
          <md-content class="md-padding">
            <login></login>
          </md-content>
        </md-tab>
        <md-tab ng-disabled='!auth.status.isLoggedIn' label="Contacts">
          <md-content class="md-padding">
            <contact></contact>
          </md-content>
        </md-tab>
        <md-tab ng-disabled='!auth.status.isLoggedIn' label="Messages">
          <md-content class="md-padding">
            <message></message>
          </md-content>
        </md-tab>
      </md-tabs>
      </md-content>
    </div>
    <div ng-cloak ng-show='page.sendmessage'>
      <md-content>
        <sendmessage></sendmessage>
      </md-content>
    </div>
		<!-- inject:jsVendor -->
		<!-- endinject -->
		<!-- inject:js -->
		<!-- endinject -->
	</body>
</html>